
<div id="product_list">
  <h1>Lista produktów</h1>

  <table>
  <% @produkts.each do |produkt| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <%= image_tag(produkt.obraz_url, :class => 'list_image') %>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= link_to produkt.nazwa, produkt %></dt>
          <dd><%= truncate(strip_tags(produkt.opis),
                 :length => 80) %></dd>
        </dl>
      </td>

      <td class="list_actions">
        <%= link_to 'Show', produkt %><br/>
        <%= link_to 'Edit', edit_produkt_path(produkt) %><br/>
        <%= link_to 'Destroy', produkt, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'Dodaj produkt', new_produkt_path %>
